body {
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    text-align: center;
    padding: 50px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
}

.card {
    margin-top: 20px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
}

.error {
    color: red;
}
